body{
    font-family: 'Rajdhani', sans-serif f;
    margin: 0;
    padding: 0;

}
div{
    box-sizing: border-box;
}

header{
    background: url(../test/img/header.png) no-repeat center top / cover;
    height: 720px;
}
.header_top{
    width: 100%;
    background: #c5c5c5;
    height: 17px;
    display: flex;


}
.text_header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    width: 301px;
    height: 8px;

}
.text_first{
    display: flex;
    margin-top: 293px;
    margin-left: 78px;
    width: 210px;
    height: 23px;
    border-bottom: 2px solid black;
    font-weight: normal;
    padding-bottom: 15px;

}
.text_second{
    display: flex;
    margin-top: 15px;
    margin-left: 50px;
    width: 262px;
    height: 13px;
}
.title_first h2{
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 65px;
    font-weight: normal;
    width: 246px;
    height: 20px;
    text-align: center;

}
h3{
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 106px;
    margin-top: 37px;
    width: 97px;
    height: 10px;
    font-weight: normal;
    padding: 5px 13px 19px 15px;
    border: 2px solid black;

}
.container{
    width: 1231px;
    margin: 0 auto;
}
section{
    width: 100%;
    height: 8px;

}
section:before{
    content: '';
    position: absolute;
    top: 720px;
    width: 100%;
    height: 46px;
    background-color: black;

}
.header_body{
    position: relative;
    z-index: 2;
    display: flex;
}
.header_logo img{
    position: center;
    max-width: 100%;
    height: 19px;
    width: 191px;
    margin-top: 13px;
    margin-left: 13px;
    display: block;
}
.header_burger{
    display: none;
}

@media (max-width: 2200px){
    .header_burger{
        display: block;
        position: relative;
        width: 26px;
        height: 20px;
    }
    .header_burger span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 3px;
        top: 22px;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .header_burger:before{
        top: 27px;
    }
    .header_burger:after{
        bottom: 0;
    }
    /*.header_menu{
        position: fixed;
        top: 720px;
        left: 0;
        width: 1167px;
        height: 47px;
        background-color: #c5c5c5;


    }*/

}
.header_list{
    display: flex;

}
.header_list li{
    list-style: none;
    margin: 0 0 0 20px;
    font-weight: normal;

}
.header_link li{
    font-size: 22px;
}
.header_link{
    color: white;
    text-decoration: none;
}
.login{
    text-transform: uppercase;

}
.login a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    justify-content: end;

}
.buy{
    display: inline-flex;
    float: right;
}
.buy img{
    margin: auto;
    width: 35px;
    height: 30px;
    float: right;
}
.products figure {
    margin: 3px;
    display: inline-block;

}
.image-wrapper{
    position: relative;

}
.image-wrapper p{
    text-align: center;
}
.image-wrapper img {
    position: relative;
    top: 16px;

}
.image-caption {
    position: absolute;
    text-align: center;
    top: 334px;
    bottom: 38px;
    background-color: black;
    opacity: 0.7;
    color: white;
    width: 100%;
    font-style: normal;

}

.products img {
    border: 1px solid #e2e2e0;
    width: 100%;
    margin-top: 0;
}
.products figcaption {
    text-align: center;
    font-style: normal;
}
/*.title img{
    width: 62px;
    height: 12px;
}*/

#catalog{

}
.icon_top img{
    margin-top: 458px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.clothing_catalog {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    grid-gap: 30px;

}

.clothing_catalog img {
    display: block;
}
.photo2{
    margin-left: -182px;
    margin-top: auto;
}
.photo6{
    margin-left: -336px;
}
.photo1,
.photo2{
    margin-top: 43px;
}
.photo3,
.photo4{
    margin-top: 154px;
}
.photo5,
.photo6{
    margin-top: 155px;
}
.clothing_catalog p{
    font-size: 34px;
    color: white;
    font-style: normal;

}
.photo1 p{
    margin-top: -230px;
    margin-left: 210px;
}
.photo2 p{
    margin-top: -230px;
    margin-left: 230px;

}
.photo3 p{
    margin-top: -230px;
    margin-left: 268px;

}
.photo4 p{
    margin-top: -230px;
    margin-left: 140px;
}
.photo5 p{
    margin-top: -245px;
    margin-left: 155px;
}
.photo6 p{
    margin-top: -245px;
    margin-left: 280px;
}
.title_second h2{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 1530px;
    font-weight: normal;
    width: 246px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
text-align: center;
}
.instagram_gallery figure{

    width: 226px;
    height: 226px;
    padding: 0;
    margin: 0 17px 0 0;
    display: inline-block;

}
.liked_photo {
    position: relative;
    width: 100%;
}
.liked_photo figcaption{
    position: absolute;
    top: 156px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
}
.icon_like{
    position: relative;
    margin-left: 96px;
    bottom: 123px;
}
.galleria3{
    position: relative;
    top: 34px;
    background-color: black;
    height:100%;
    width:100%;
    left:0;
}

.title_third h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 330px;
    font-weight: normal;
    width: 246px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;

}
.who_uses figure{
    display: inline-block;
    width: 226px;
    height: 226px;
    padding: 0;
    margin-left: 0;
    margin-right: 75px;
}
.famous_person{
    position: relative;
    width: 100%;
}
.famous_person figcaption{
    position: absolute;
    top: 130px;
    left: 20px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
}
.title_fourth{
    margin-top: 370px ;
    color: white;
    font-size: 19px;
    font-weight: normal;
}
.title_fourth span{
    padding: 12px 40px;
    background: black;
}
.contact_form{
    display: flex;
    margin-top: -47px;
    margin-left: 125px;
    margin-right: auto;
    justify-content: center ;
}
.textb{
    width: 300px;
    height: 13px;
    padding: 12px;
    text-align: center;
    color: black;
    margin-right: 10px;
}
button{
    margin-left: 10px;
    width: 208px;
    background-color: #d0d0d0;
    border: none;
    box-shadow: 0 3px 0 #4f5052;
}
footer{
    display: block;
    margin-top: 70px;
    background: black;
    height: 35px;
    width: 100%;
    font-size: 12px;
}
.footer-row{
    margin: 0 auto;
    width: 1200px;
}
.footer-menu{
    padding-top: 1px;
    list-style: none;
    float: left;
}
.footer-menu li{
    float: left;
    height: 10px;
}
.footer-menu li a{
    display: block;
    font-size: 12px;
    margin-left: -53px;
    color: white;
    padding-left: 0;
    padding-right: 90px;
    text-decoration: none;
}

.social_footer{
    margin-top: 50px;
    margin-left: 1110px;
}
.social_footer img{
    margin-top: 7px;
}



